#por-que {
  .logos1, .logos2 {
    position: absolute;
  }
  .twitter-logo {
    -webkit-transform: rotate(-10deg);
    width: 5em;
    position: absolute;
    top: 0.9em;
    left: -1em;
  }
  .fb-logo {
    -webkit-transform: rotate(10deg);
    width: 3em;
    position: absolute;
    top: 2em;
    left: 9em;
  }
  .instagram-logo {
    -webkit-transform: rotate(-10deg);
    width: 3em;
    position: absolute;
    top: 7.5em;
    left: 3.8em;
  }
  .pregunta {
    -webkit-transform: rotate(-14deg);
    font-family: ubuntu;
    color: #919191;
    position: absolute;
    top: 40%;
    left: 10%;

    &.preg2 {
      top: 50%;
      left: 18%;
    }

    &.preg3 {
      top: 49%;
      left: 5%;
    }
  }

  .wtf {
    opacity: 1;
    font-family: ubuntu;
    color: red;
    position: absolute;
    top: 40%;
    left: 15%;
    font-size: 3em;
    z-index: 1;
  }

  .borlandc{
    position: absolute;
    left: 2%;
    top: 32%;
  }
}

.inception-image {
  position: absolute;
  width: 9em;
  top: 6em;
  left: 4em;
}

#formato blockquote {
  position: absolute;
  top: 3em;
  right: 1em;
  width: 12em;
  font-size: 1.1em;
}

.contacto {
  margin-top: 1em;
  div {
    margin: 0.6em 0;
  }
}

.deck-container > .slide .deck-before,
.deck-container > .slide .deck-previous {
  opacity: 1;
}

#outro {
  .video-marker {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.video-marker.corner {
  //display:none;
}