#por-que {
  .logos1, .logos2 {
    position: absolute;
  }
  .twitter-logo {
    -webkit-transform: rotate(-10deg);
    width: 5em;
    position: absolute;
    top: 0.9em;
    left: -1em;
  }
  .fb-logo {
    -webkit-transform: rotate(10deg);
    width: 3em;
    position: absolute;
    top: 2em;
    left: 9em;
  }
  .instagram-logo {
    -webkit-transform: rotate(-10deg);
    width: 3em;
    position: absolute;
    top: 7.5em;
    left: 3.8em;
  }
}

.deck-container > .slide .deck-before,
.deck-container > .slide .deck-previous {
  opacity: 1;
}